<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711935312402-500bcl1fcj10vgsfiao31gmjmn72fdm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711935312402-500bcl1fcj10vgsfiao31gmjmn72fdm6</string>
	<key>API_KEY</key>
	<string>AIzaSyCM-dGugA2rqcM1lG9BS0ig3RowLlyhoWo</string>
	<key>GCM_SENDER_ID</key>
	<string>711935312402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.committrack.app</string>
	<key>PROJECT_ID</key>
	<string>commit-track</string>
	<key>STORAGE_BUCKET</key>
	<string>commit-track.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711935312402:ios:9f11a41887015df7cb8ecb</string>
</dict>
</plist>